.topMiniHeader{
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 3px;
    font-size : 12px;
    text-transform: uppercase;
}

.margins-top{
    margin-top: 200px !important;
}
.name{
    color: #ff014f !important;
}
.topHeader{
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    font-size : 75px;
    letter-spacing: 1px;
    
}

.topContent{
    font-family : 'Raleway', sans-serif !important;
    color: #fff !important;
    font-size : 20px !important;
    letter-spacing: 1px;
    line-height: 35px ;
    padding: 16px !important;
}



.iconBox{
    background: linear-gradient(145deg,#1e2024,#23272b);
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(211, 216, 226, 0.2);
    display: inline-block;
    font-size: 24px !important;
    height: 60px;
    letter-spacing: 2px;
    line-height: 60px;
    position: relative;
    text-align: center;
    transition: 0.45s;
    width: 60px;
    color: #fff!important;
    margin-right: 25px !important;
   
}

.iconBox:hover{
   
    transform : scale(1.1) !important;
   
}






