body{
    width: 500px;
    margin : 0 auto;

}

.mix{
    height: 100px;
    background-color: #222;
    width: 32.5%;
    float: left;
    margin-bottom: 3px;
    margin-right: 3px;
}

.mixbtns{
    margin: 50px 0px 0px;
    text-align: center;
}

.mixbtns button{
    padding:10px 15px;
    text-decoration: none;
    color: #fff;
    background-color: #222;
    font-family: "Arial";
    font-size:11px;
    text-transform: uppercase;
}

.w-des{
    background-color: #3498db;

}

.w-dev{
    background-color: #db34c5;
    
}


.w-word{
    background-color: green;
    
}